.well.comment-content{ data: { id: comment.id } }
  %div= comment.content
  %div.comment-controls
    = edit_comment_link(comment)
    = destroy_comment_link(comment)
    %span.author= comment.full_name