#post_content {
  height: 400px;
}

span.author {
  float: right;
}

.well.post-title, .well.post-content, .well.comment-content {
  background-color: rgba(199, 199, 199, 0.07);
}

#spinner-container,  .header {
  text-align: center;
}

.comment-controls, .post-controls {
  margin-top: 20px;
}

#comments-load-error {
  display: none;
}